@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* assigning font to overall html */

html {
  font-family: "Poppins", sans-serif;
  background: #000000;
  color: #e5e5e5;
  background-image: url('/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
