@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* assigning font to overall html */

html {
  font-family: "Poppins", sans-serif;
  background: #000000;
  color: #e5e5e5;
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Toastify CSS starts */

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #d3f1f9 !important;
  --toastify-color-success: #8cd3ae !important;
  --toastify-color-warning: #f8d593 !important;
  --toastify-color-error: #fec2b2 !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #000000 !important;
  --toastify-text-color-success: #000000 !important;
  --toastify-text-color-warning: #000000 !important;
  --toastify-text-color-error: #000000 !important;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided */
  /* toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  /* Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

/* Custom Toastify CSS ends */

/* Custom style in input type color : basically removing the border padding */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="color"]:focus-within {
  border-radius: 4px;
  width: 3.5rem;
}

.big input[type="color"]:focus-within {
  border-radius: 4px;
  width: 10rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: inherit;
  background-color: #949494c4;
}
